.sprite{
  color: #fff;
  :global{
    .desc{
      color: #eee;
    }
    .step-row{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .step-btns{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
